*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: black;




}

header {

background: linear-gradient(135deg, #fcfcfd 10%, #30016d 100%);
padding: 1rem 0;
position: fixed;
width: 100%;
z-index: 500;


}


.Logo {
display: flex;
justify-content: flex-start;

}

.Logo img {
width: 15%;
border-radius: 10%;
}


nav{

max-width: 1500px;
margin: 0 auto;
display: flex;
justify-content: flex-end;
padding: 0 2rem;

}



.bannerinicio {
display: flex;
justify-content: flex-start;

}


.bannerinicio img {
width: 100%;
height: 50%;
border-radius: 20%;

}

h1 {
display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: rgb(62, 4, 170);
justify-content: center;
}


.frasesdeassinatura {

display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: rgb(44, 4, 119);
font-size: larger;
font-style: italic;
font-style: oblique;
justify-content: center;

}


.container {
  display: flex;               
  justify-content: center;     
  align-items: center;         
  gap: 20px;                   
  width: 80%;
  max-width: 1000px;
margin-top: 150px auto;
}

.missao {
    flex: 1;    
    min-width: 250px;                  
    padding: 20px;
    justify-content: center;     
    align-items: center;  
    border-radius: 10px;
    color: #333;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.visao {
    flex: 1;    
    min-width: 250px;                  
    padding: 20px;
    border-radius: 10px;
    color: #333;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.valores {
    flex: 1;    
    min-width: 250px;                  
    padding: 20px;
    border-radius: 10px;
    color: #333;
    text-align:center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.missao {
  background-color: #4FC3F7; /* Azul Céu */
}

.visao {
  background-color: #B9F227; /* Verde Limão */
}

.valores {
  background-color: #FFD54F; /* Amarelo Sol */
}


h2 {
  margin-bottom: 10px;
  font-size: 1.4em;
}

p {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}


@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .missao, .visao, .valores {
    width: 80%;
  }
}